/* Landing Page */

.landingDiv {
display: flex;
justify-content: space-around;
margin-top: 5%
}

.landingEmployeePortalDiv{
  display: flex;
  flex-direction: column;
}

.landingCustomerPortalDiv{
  display: flex;
  flex-direction: column;
}

.portalTitle{
  display: flex;
  justify-content: center;
  font-family: 'Avenir Next';
  font-style: normal;
  font-weight: 800;
  font-size: 33px;
  color: #33475B;
}

/* Landing End */


/* SideBar Menu */

.bangazonLogo{
  margin-top: 5%;
  margin-bottom: 9%;
  margin-left: 5%;
  display: flex;
  align-items: center;
  max-width: 90%;
}

.ui.vertical.menu {
  display: block;
  flex-direction: column;
  background: #6A78D1;
}

.ui.left.sidebar {
  width: 200px;
  overflow-x: hidden;
  border-radius: 0px 20px 20px 0px !important;
}

/* Non-active links */
.ui.menu .item {
  position: relative;
  vertical-align: middle;
  line-height: 5.75;
  text-decoration: none;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 auto;
  -webkit-user-select: none;
  user-select: none;
  padding: .92857143em 1.14285714em;
  text-transform: none;
  color: rgba(255, 255, 255, 1);
  font-family: 'Avenir';
  font-size: 16px;
  font-weight: 900;
}

/* Non-active link on hover */
.ui.menu a.item:hover {
  cursor: pointer;
  background: rgba(180, 187, 232, .5);
  color: #ffffff;
}

/* Active link on hover */
.ui.menu .active.item:hover, .ui.vertical.menu .active.item:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #B4BBE8;
}

.ui.menu .active.item {
  background: #ffffff;
  color: rgba(255, 255, 255, 0.87);
  font-family: 'Avenir';
  font-weight: 900;
  box-shadow: none;
}

.ui.menu .active.item:hover{
  background: #B4BBE8;

}

.ui.vertical.menu .item {
  border-radius: 0;
  border-bottom: none !important;
}

.ui.vertical.menu .active.item {
  background: #B4BBE8;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(34,36,38,.45);
}

/* SideBar Menu End */

/* SlideBar */

.purpleHeader{
  padding-top: 30px;
  background-color: #6A78D1;
}

.slideBarHeader {
  padding-left: 25px !important;
  color: #ffffff !important;
  font-family: 'Avenir Next' !important;
  font-size: 28px !important;
  font-weight: 700 !important;
}

.addSlideBarHeader {
  padding-left: 25px !important;
  padding-bottom: 30px !important;
  color: #ffffff !important;
  font-family: 'Avenir Next' !important;
  font-size: 28px !important;
  font-weight: 700 !important;
}

.slideBarSubheader{
  padding-left: 25px !important;
  padding-bottom: 30px !important;
  color: #ffffff !important;
  font-family: 'Avenir Next' !important;
  font-size: 15px;
  font-weight: 600 !important;
}

.slideBarImg{
  display: flex;
  justify-content: center;
}

.computerImage {
  max-width: 40%;
  }

.departmentImage {
  max-width: 70%;
  }

.employeeImage {
  max-width: 55%;
  }
  

.fifteen.wide.field{
  padding-left: 25px;
}

.slideBarButtonContainer{
  padding-left: 25px;
}
/* SlideBar End */

/* Employee Container */
.containerDiv {
  margin-left: 200px;
  margin-right: 50px;
}
/* Employee Container End */

/* NavBar */

.portalDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 35px;
  margin-bottom: 15px;
}

.viewManager {
  font-family: 'Avenir Next';
  font-weight: 600;
  font-size: 18px;
}

.viewHeader {
  font-family: 'Avenir Next';
  font-weight: normal;
  font-size: 28px;
}

.barAndButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.searchBarContainer {
display: flex;
flex-direction: row;
align-items: center;
}

.buttonContainer {
  margin-left: 10px;
}
/* NavBar End */

/* Dashboard */

.dashboardTopRow{
  display: flex;
  flex-direction: row;
}

/* Dashboard End */

/* Employees */

.cardContainer{
  display: flex;
  justify-content: row;
}

/* width of the details card */
.detailsCard{
width: 485px !important;
height: 365px !important;
}

.cardRibbon {
  width: 100%;
}

.headerButtonContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cardHeader {
  display: flex;
  flex-direction: row;

}

.cardEditButton {
  max-width: 0px;
}

.detailsCardFlexRow {
  display: flex;
  flex-direction: row;
}

.detailsCardInfo {
padding-left: 20px;
padding-top: 20px;
}

.item {
  display: flex;
  justify-content: row;
}

/* Employees End */

.ui.right.visible.sidebar {
  box-shadow: 0 0 20px rgba(34,36,38,.15);
  background-color: #ffffff !important;
}



.imgContainer{
  display: flex;
  justify-content: center;
}